.links-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.link-list__item {
	flex: 1;
	width: 100%;
	min-height: 50vh;
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}

.link-list__item--twitch {
	background: url(/logos/TwitchGlitchPurple.png) no-repeat center;
}