/* *, html, body {
} */

#root {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.App {
  text-align: center;
	flex: 1;
}

.App:nth-child(2) {
	background-color: #282c34;
}

.App:nth-child(1) {
	background-color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
	100% {
    transform: rotate(-30deg);
	}
}
