@class: app;

#root {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.@{class} {
  text-align: center;
	flex: 1;
	min-height: 100vh;
	background-color: #ffffff;
	
	&-content {
		display: flex;
		min-height: 60vh;
	}
}


