.link {
	border-radius: 5px;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	min-width: 27vw;
	padding: 2em;
	text-decoration: none;
	box-shadow:
		0 0.5em 1em -0.5em #000,
		inset 0 0.9em 0.5em -1em #fff,
		inset 0 -0.9em 0.5em -1em #000;
}